<% provide(:title , 'Events Today' ) %>

<div class="pull-right">
	<%= render :partial=> 'shared/social_share' %>
</div>

<h2>Events this day
	<%= render :partial=> 'shared/toggle_nav' %>
</h2>

<h3> <%= @start_time.strftime('%A') %></h3>

<p><%= render :partial=> 'shared/cats' %></p>

<div id="js-grid-juicy-projects" class="cbp">
	<%= render :partial=> 'shared/event_loop' %>
</div>

