<%= render 'shared/error_messages', :object => @listing %>
	<% if current_user.has_role? :admin %>
		<%= f.input :organizer_id, 
      :label=> 'Organizer',
      collection:  @organizers,
      selected:  @listing.organizer, 
      include_blank: '- None -' ,
      input_html: { class: 'chosen-select form-control' }  
      %>
	<% end %>
	<p>
		<%= f.input :name, :label=>'Name of Organization/Community/Initiative' %>
	</p>
	<p>
	  <%= f.input :category_id, 
      :label=> 'Category',
      collection:  @organizer_categories,
      selected:  @listing.category, 
      include_blank: '- None -' ,
      input_html: { class: 'chosen-select form-control' }  
      %>
	</p>
	<%= f.input :url, :label=>'Website URL'  %>
	<%= f.input :city %>
		<%= f.input :state, 
		:label=> 'State',
		collection: state_options,
		include_blank: '- None -' ,
		input_html: { class: 'chosen-select form-control' }  
		%>
	<%= f.input :zip %>