<%= render 'shared/error_messages', :object => @listing %>
 <div class="row">
  <div class="col-md-8">
    <p>
      <% if current_user.has_role?(:admin) %>
        <%= f.input :organizer_id, 
          :label=> 'Select Existing Organizer',
          collection:  @organizers,
          selected: @listing.organizer_id ?  @listing.organizer_id : '', 
          include_blank: '- None -' ,
          input_html: { class: 'chosen-select form-control' }  
          %>
      <% elsif !current_user.organizers.empty? %>
    		<%= f.input :organizer_id, 
          :label=> 'Organizer',
          collection:  @organizers,
          selected: @listing.organizer_id ?  @listing.organizer_id : '', 
          include_blank: '- None -' ,
          input_html: { class: 'chosen-select form-control' }  
          %>
      </p>
  	<% end %>
    <% if current_user.has_role?(:admin) %>
    	<p>
    		<%= f.input :name, :label=>'Add External Organizer' %>
    	</p>
    <% end %>
  </div>
  <div class="col-md-4">
  	<p>
  	  <%= f.input :category_id, 
        :label=> 'Category',
        collection:  @organizer_categories,
        selected:  @listing.category_id ?  @listing.category_id : '', 
        include_blank: '- None -' ,
        input_html: { class: 'chosen-select form-control' }  
        %>
  	</p>
  </div>
</div>
  <%= f.input :url, :label=>'Website URL'  %>
  <hr/>
  <%= f.input :phone, :label=>'Contact Number' %>
  <%= f.input :street, label: 'Street Address' %>
  <%= f.input :unit, label: 'Unit' %>
  <div class="row">
    <div class="col-md-5">
	   <%= f.input :city %>
     </div>
   <div class="col-md-4">
	   <%= f.input :state, 
  		:label=> 'State',
  		collection: state_options,
  		include_blank: '- None -' ,
  		input_html: { class: 'chosen-select form-control' }  
  		%>
    </div>
    <div class="col-md-3">
	   <%= f.input :zip %>
    </div>
  </div>