<% provide(:title , 'Organizations and Communities' ) %>

<% content_for :map do %>
	<div style='width: 100%;' class="map-holder">
	  <div id="map" style='width: 100%; height: 400px;'></div>
	</div>
	 <script type="text/javascript">
	    handler = Gmaps.build('Google', { markers: {  randomize: true, maxRandomDistance: 50 } })
	    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	       markers = handler.addMarkers(<%=raw @hash.to_json %>);
	      handler.bounds.extendWith(markers);
	      handler.fitMapToBounds();
	       handler.getMap().setZoom(4)
	    });
	  </script>
<% end %>
<div class="row">
<h1>Black Tech Organizations and Communities</h1>

<div class="table-responsive">
	<table class="table">

		<% @listings.each do |listing| %>
			<tr>
				<% if !listing.organizer_id.blank? && listing.name? && listing.name.downcase != listing.organizer.name.downcase %>
					
					<td><%= link_to "#{listing.organizer} - #{listing.name}", listing_path(listing) %></td>
				<% elsif listing.organizer_id.blank? %>
					<td><%= link_to listing.name, listing_path(listing) %></td>
				<% else %>
					<td><%= link_to listing.organizer.name, organizer_path(listing.organizer) %></td>
				<% end %>
				<td><%= listing.category.name if listing.category %></td>
				<td><%= listing.city %></td>
				<td><%= listing.state %></td>
				<td><%= listing.zip %></td>
			</tr>
		<% end %>	

	</table>
</div>
</div>