<% twitter_handle = '@techwhileblack' %>
<% short_link = Shortener::ShortenedUrl.generate(listing_path(@listing)) %>
<% short_link = root_url + short_link.unique_key %>

<% title = @listing.name %>
<% provide(:title , title ) %>
<% provide(:url, listing_url(@listing) )%>
<% provide(:twitter, twitter_handle)%>

<div class="col-md-5">
	<div class="well text-center">
		<p class="lead"><%= @listing.name %> has not created a page on Tech While Black yet.</p>
		<p>
			<%= link_to 'Search for a participating organization instead', listings_path, :class=>"btn btn-primary"  %>
		</p>
		<hr/>
		<p>
			<%= link_to "Continue to external website for #{@listing.name}", @listing.url, target: '_blank' %>
		</p>
	</div>
</div>
<div class="col-md-7">
	<div class="well text-center">
		<h2>Is this your organization?</h2>
		<h3>Claim page and start participating now!</h3>
		<hr/>
		<p class="lead">It's free, so what are you waiting for?</p>
		<hr/>
		<p>
			<%= link_to 'Create Organizer Profile', new_organizer_path, :class=>"btn btn-default" %>
		</p>
		<p>
			<%= link_to 'View Claim Instructions', '#', :class=>"btn btn-default" %>
		</p>
	
	</div>
</div>